<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="/static/images/MusicMeet.png"/>
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>MusicMeet - Your Next Debut Starts Here!</title>
    <script type="text/Javascript">
      
      

      

    </script>
    
  </head>

  <body>
    
    {% include 'navbar.html' %}

    

    {% if messages %}
    <u1 class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %} 
    </u1>
    {% endif %}

    {% block content %}

    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
    <script type="text/Javascript">
      $(document).ready(function() {
        $('#distance').change(function() {
            if ($(this).val() == 'none') {
              $('#distbutton').prop('disabled', true);
            } else {
              $('#distbutton').prop('disabled', false);
            }
          });
        });
      function getdistance() {
          displaydistance = document.querySelector("#distance")
          ans = displaydistance.options[displaydistance.selectedIndex].value;
          document.querySelector("#distanceDisplay").value=ans;
      }
      const one = document.getElementById('first')
      const two = document.getElementById('second')
      const three = document.getElementById('third')
      const four = document.getElementById('fourth')
      const five = document.getElementById('fifth')
      console.log(one)
      const handleSelect = (selection) => {
        switch(selection){
          case 'first': {
            one.classList.add('checked')
            two.classList.remove('checked')
            three.classList.remove('checked')
            four.classList.remove('checked')
            five.classList.remove('checked')
            return
          }
          case 'second': {
            one.classList.add('checked')
            two.classList.add('checked')
            three.classList.remove('checked')
            four.classList.remove('checked')
            five.classList.remove('checked')
            return
          }
          case 'third': {
            one.classList.add('checked')
            two.classList.add('checked')
            three.classList.add('checked')
            four.classList.remove('checked')
            five.classList.remove('checked')
            return
          }
          case 'fourth': {
            one.classList.add('checked')
            two.classList.add('checked')
            three.classList.add('checked')
            four.classList.add('checked')
            five.classList.remove('checked')
            return
          }
          case 'fifth': {
            one.classList.add('checked')
            two.classList.add('checked')
            three.classList.add('checked')
            four.classList.add('checked')
            five.classList.add('checked')
            return
          }
        }
      }

      const arr = [one, two, three, four, five]
      arr.forEach(item => item.addEventListener('click', (event)=>{
        handleSelect(event.target.id)
      }))
      
    </script>
    
  </body>
</html>





