<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="/static/images/MusicMeet.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MusicMeet - Your Next Debut Starts Here!</title>
    
  </head>

  <body>
    
    {% include 'navbar.html' %}

    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>

    {% if messages %}
    <u1 class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %} 
    </u1>
    {% endif %}

    {% block content %}

    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>





