/*=======================
  Pagination
========================*/
.pagination {
    margin-top: 8rem;
    margin-bottom: 10rem;
  }
  
  .pagination > ul {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .pagination .btn {
    color: var(--color-sub);
  }
  
  .pagination .btn.btn--sub {
    color: var(--color-light);
  }
  