{% extends 'main.html' %}
{% load embed_video_tags %}
{% block content %}
<main class="profile-page layout layout--3">
<div class="group-info container1">
<div class="profileM">
    <div class="avatar avatar--large active group-profile-image">
        <img src="{{group.user.avatar.url}}" />
    </div>
    <div class="group-profile-info">
      <h1 class="group-profile-name">{{ group.group_name }}</h1>
     
      <h2 class="group-profile-manager">{{group.user.first_name}} {{group.user.last_name}}</h2>
      <div class="group-profile-details">
        <p class="group-profile-email">{{ group.user.email }}</p>
       
        <p class="group-profile-genre">{{ group.genre }}</p>
        <p class="group-profile-location">{{ group.location }}</p>
        <p class="group-profile-events">{{ group.events.count }} Events Hosted</p>
      </div>
    </div>
  </div>
</div>
  </main>
  {% endblock content %}