{% extends 'main.html' %}
{% load embed_video_tags %}
{% block content %}
<main class="profile-page layout layout--3">
<div class="group-info container1">
<div class="profileM">
    <div class="avatar avatar--large active group-profile-image">
        <img src="{{group.user.avatar.url}}" />
    </div>
    <div class="group-profile-info">
      <h1 class="group-profile-name">{{ group.group_name }}</h1>
     
      <h2 class="group-profile-manager">Managed By: {{group.user.first_name}} {{group.user.last_name}}</h2>
      <div class="group-profile-details">
        <p class="group-profile-email">{{ group.user.email }}</p>
        <div class="button-group1">
          <a class="btnTwo btnTwo--main" href="{% url 'create-message' group.user.id %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>edit</title>
              <path d="M27.778 4.222c-1.52-1.52-3.333-1.172-4.222 0l-2.556 2.556 4 4 2.556-2.556c1.171-1.171 1.171-3.071 0-4.242zM19.354 12.646l-15.111 15.111v2.243h2.243l15.111-15.111-2.243-2.243zM3.111 29.889v-6.364l6.364 6.364h-6.364z"></path>
            </svg>
            
    
            Message Group
          </a>
       
        </div>
       
        <p class="group-profile-genre"> Genre: {{ group.genre }}</p>
        <p class="group-profile-location">{{ group.location }}</p>
        <p class="group-profile-events">{{ group.events.count }} Events Hosted</p>
      </div>
    </div>
  </div>
</div>
  </main>
  {% endblock content %}