{% extends 'main.html' %}


{% block content %}
<!-- Main Section -->
<main class="messagePage my-xl">
  <div class="content-box">
    <div class="message">
      <a class="backButton" href="{% url 'inbox' %}"><i class="im im-angle-left"></i></a>
      <h2 class="message__subject">{{message.subject}}</h4>
        {% if message.sender %}
        <a href="{% url 'user-profile' message.sender.id  %}" class="message__author">{{message.name}}</a>
        {% else %}
        <p class="message__author">{{message.name}}</p>
        {% endif %}
        <p class="message__date">{{message.created}}</p>
        <div class="message__body">{{message.body|linebreaksbr}}</div>
    </div>
  </div>
  <center><a class="btn btn--main" href="{% url 'group-event' %}">
    
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <title>add</title>
      <path
        d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z"
      ></path>
    </svg> 
    Reply
  </a>
  {% if message.contract_related %}
  <a style="justify-content: center;" class="btn btn--main" href="{% url 'review-contract' message.contract_id %}">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <title>add</title>
      <path
        d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z"
      ></path>
    </svg>
    Review Offer
  </a>
  {% endif %}
</center>
</main>
{% endblock content %}