{% extends 'main.html' %}

{% block content %}

<main class="profile-page layout2 layout2--3">
  <div class="container">
    <div class="profileM">
        <!--<div class="profile-pic"><img src="{{request.user.avatar.url}}" /></div>-->
        <div class="avatar avatar--large active">
            <img src="{{request.user.avatar.url}}" />
          </div>
        <div class="profile-info">
          <h1 class="name">{{user.first_name}} {{user.last_name}}</h1>
          <p class="email">{{user.email}}</p>
          <ul class="instruments">
            <h3>Instruments</h3>
            {% if instruments %}
            {% for instrument in instruments %}
            <li>
              {{instrument.name}} &nbsp; &nbsp; &nbsp; 
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-instrument' instrument.id %}"><i class="im im-edit"></i>Edit</a>
            {% if not instrument.primary %}
            &nbsp; &nbsp; &nbsp; 
            <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-instrument' instrument.id %}?next=/account"><i class="im im-x-mark-circle-o"></i>Delete</a>
            {% endif %}
          </li>
            
            
            {% endfor %}
            {% endif %}
           
          </ul>
          <ul class="genres">
            <h3>Genres</h3>
            {% if genres %}
            {% for genre in genres %}
            <li>
              {{genre.name}} &nbsp; &nbsp; &nbsp; 
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-genre' genre.id %}"><i class="im im-edit"></i>Edit</a>
            {% if not genre.primary %}
            &nbsp; &nbsp; &nbsp; 
            <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-genre' genre.id %}?next=/account"><i class="im im-x-mark-circle-o"></i>Delete</a>
            {% endif %}
          </li>
            
            
            {% endfor %}
            {% endif %}
          </ul>
          {% if demos %}
          <div class="videos">
            
          
            <h3>Demos</h3>
            {% for demo in demos %}
            <div class="video">
            <h3 class="text-center mt-2 mb-2">{{demo.title}}</h3>
            <video class="video-fluid" controls="controls" style="width: 200px;">
                   <source src="{{demo.demovid.url}}" type="video/mp4" />
            </video>
            <h3 class="text-center mt-2 mb-2">Created On: {{demo.added}}</h3>
            </div>
            {% endfor %}
          
          
            
          </div>
          {% endif %}
        </div>
      </div>
  </div>
</main>
{% endblock content %}