{% extends 'main.html' %}

{% block content %}

<main class="profile-page layout2 layout2--3">
  <div class="container">
    <div class="profileM">
        


        <!--<div class="profile-pic"><img src="{{request.user.avatar.url}}" /></div>-->
        <div class="avatar avatar--large active">
            <img src="{{musician.user.avatar.url}}" />
          </div>
        <div class="profile-info">
          <h1 class="name">{{musician.user.first_name}} {{musician.user.last_name}}</h1>
          <p class="email">{{musician.user.email}}</p>
          {% if request.user.group %}

          <div class="button-group">
            {% else %}
          <div class="button-group1">
            {% endif %}
            <a class="btnTwo btnTwo--main" href="{% url 'create-message' musician.user.id %}">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>edit</title>
                <path d="M27.778 4.222c-1.52-1.52-3.333-1.172-4.222 0l-2.556 2.556 4 4 2.556-2.556c1.171-1.171 1.171-3.071 0-4.242zM19.354 12.646l-15.111 15.111v2.243h2.243l15.111-15.111-2.243-2.243zM3.111 29.889v-6.364l6.364 6.364h-6.364z"></path>
              </svg>
              
      
              Message Musician
            </a>
          {% if request.user.group %}
            <a class="btnTwo btnTwo--main" href="{% url 'create-contract' musician.id %}">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>add</title>
                <path
                  d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z"
                ></path>
              </svg> 
              Send Artist Offer
            </a>
            {% endif %}
          </div>
          {% if eventsPerformed %}
          {% if eventsPerformed.count == 1 %}
          <h2>{{eventsPerformed.count}}  Event Performed At</h2>
          {% else %}
          <h2>Events Performed At: {{eventsPerformed.count}}</h2>
          {% endif %}
          {% endif %}
          
          {% if groups %}
          <h2>Groups Performed With:</h2>
          
          {% for group in groups %}
          <h4>{{group.group_name}}</h4>
          
          {% endfor %}
          {% endif %}
          
          <ul class="instruments">
            <h3>Instruments</h3>
            {% if instruments %}
            {% for instrument in instruments %}
            <li>
              {{instrument.name}} 
        
          </li>
            
            
            {% endfor %}
            {% endif %}
           
          </ul>
          <ul class="genres">
            <h3>Genres</h3>
            {% if genres %}
            {% for genre in genres %}
            <li>
              {{genre.name}}

     
          </li>
            
            
            {% endfor %}
            {% endif %}
          </ul>
          {% if demos %}
          <h3>Demos</h3>
          <div class="videos">
            
          
            
            {% for demo in demos %}
            <div class="video">
            <h3 class="text-center mt-2 mb-2">{{demo.title}}</h3>
            <video class="video-fluid" controls="controls" style="width: 200px;">
                   <source src="{{demo.demovid.url}}" type="video/mp4" />
            </video>
            <h3 class="text-center mt-2 mb-2">Created On: {{demo.added}}</h3>
            </div>
            {% endfor %}
          
          
            
          </div>
          {% endif %}
        </div>
      </div>
  </div>
</main>
{% endblock content %}