{% extends 'main.html' %}

{% block content %}

<main class="profile-page layout2 layout2--3">
  <div class="container">
    <div class="profileM">
        <h2>Profile</h2>
  <div class="button-group">
    <a href="{% url 'current-events' %}" class="button">Current Events</a>
    <a href="{% url 'past-events' %}" class="button">Past Events</a>
  </div>

        <!--<div class="profile-pic"><img src="{{request.user.avatar.url}}" /></div>-->
        <div class="avatar avatar--large active">
            <img src="{{request.user.avatar.url}}" />
          </div>
        <div class="profile-info">
          <h1 class="name">{{user.first_name}} {{user.last_name}}</h1>
          <p class="email">{{user.email}}</p>
          <div class="button-group1">
            
              <a class="btnFour btnFour--main" href="{% url 'musician-update' %}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <title>edit</title>
                  <path d="M27.778 4.222c-1.52-1.52-3.333-1.172-4.222 0l-2.556 2.556 4 4 2.556-2.556c1.171-1.171 1.171-3.071 0-4.242zM19.354 12.646l-15.111 15.111v2.243h2.243l15.111-15.111-2.243-2.243zM3.111 29.889v-6.364l6.364 6.364h-6.364z"></path>
                </svg>
                
        
                Edit Profile
              </a>
            
          
          </div>
          
          {% if groups %}
          <h3>Groups Performed With</h3>
          <br>
          {% for group in groups %}
          <h4>{{group.group_name}}</h4>
          <br>
          {% endfor %}
          {% endif %}
          <ul class="instruments">
            <h3>Instruments</h3>
            {% if instruments %}
            {% for instrument in instruments %}
            <li>
              {{instrument.name}} &nbsp; &nbsp; &nbsp; 
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-instrument' instrument.id %}"><i class="im im-edit"></i>Edit</a>
            {% if not instrument.primary %}
            &nbsp; &nbsp; &nbsp; 
            <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-instrument' instrument.id %}?next=/account"><i class="im im-x-mark-circle-o"></i>Delete</a>
            {% endif %}
          </li>
            
            
            {% endfor %}
            {% endif %}
           
          </ul>
          <ul class="genres">
            <h3>Genres</h3>
            {% if genres %}
            {% for genre in genres %}
            <li>
              {{genre.name}} &nbsp; &nbsp; &nbsp; 
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-genre' genre.id %}"><i class="im im-edit"></i>Edit</a>
            {% if not genre.primary %}
            &nbsp; &nbsp; &nbsp; 
            <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-genre' genre.id %}?next=/account"><i class="im im-x-mark-circle-o"></i>Delete</a>
            {% endif %}
          </li>
            
            
            {% endfor %}
            {% endif %}
          </ul>
          {% if demos %}
          <h3>Demos</h3>
          <div class="videos">
            
          
            
            {% for demo in demos %}
            <div class="video">
            <h3 class="text-center mt-2 mb-2">{{demo.title}}</h3>
            <video class="video-fluid" controls="controls" style="width: 200px;">
                   <source src="{{demo.demovid.url}}" type="video/mp4" />
            </video>
            <h3 class="text-center mt-2 mb-2">Created On: {{demo.added}}</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg red" href="{% url 'delete-demo' demo.id %}"><i class="im im-plus"></i>Delete Demo</a>
            </div>
            {% endfor %}
          
          
            
          </div>
          {% endif %}
          <a class="tag tag--pill tag--sub settings__btn tag--lg lime" href="{% url 'add-demo' %}"><i class="im im-plus"></i>Add Demo</a>
        </div>
      </div>
  </div>
</main>
{% endblock content %}